html {
  height: 100%;
  width: 100%;
}

body {
  @extend html;
  background-image: url("images/app-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: 
  "header"
  "content";
  text-align: center;
}

// Grid Areas 
.heading-container {
  animation-delay: 3s;
  animation: head 5s forwards;
  border-bottom: 1.5px solid $dark-tone;
  font-family: $heading-font;
  grid-area: "header";
  padding: 1px;
}

.content-container {
  grid-area: "content";
}

// Header Section
.title {
  animation: title 4s linear forwards;
  stroke-dasharray: 1000;
  stroke: #000000;
}

.subtitle {
  margin-top: -20px;
  margin: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

// Content Section
.content-head-container {
  display: flex;
  justify-content: center;
}

.gutter-branch {
  height: 140px;
  margin: 30px 85px;
  width: 145px;
}

.branch-mirror {
  filter: FlipH;
  transform: scaleX(-1);
}

// Hover States
.title:hover path{
  fill: $light-tone;
}

// Animations
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes title {
  0% {
      opacity: 1;
      stroke-dashoffset: -1000;
      fill: none;
  }
  50% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      fill: none;
  }
  100% {
      opacity: 1;
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      fill: black;
  }
}

@keyframes head {
  0% {
      background-color: none;
  }
  80% {
      background-color: none;
  }
  100% {
      background-color: #b8aba1;
  }
}