body {
  background-image: url("images/app-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  "header"
  "content";
}

.heading-container {
  padding: 1px;
  animation: head 5s forwards;
  animation-delay: 3s;
  grid-area: "header";
  font-family: $heading-font;
}

.content-container {
  grid-area: "content";
}

.title {
  stroke-dasharray: 1000;
  animation: title 4s linear forwards;
  stroke: #000000;
}

.subtitle {
  margin: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes title {
  0% {
      opacity: 1;
      stroke-dashoffset: -1000;
      fill: none;
  }
  50% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      fill: none;
  }
  100% {
      opacity: 1;
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      fill: black;
  }
}

@keyframes head {
  0% {
      background-color: none;
  }
  80% {
      background-color: none;
  }
  100% {
      background-color: #b8aba1;
  }
}