.controls-container {
  height: 300px;
  width: 800px;
  display: inline;
}

.reset-button {
  display: inline-block;
}

.rebrew-tea {
  display: inline-block;
}

.user-reselected-mood {
  display: inline-block;
}

