.splash-page-container {
  position: relative;
  width: 100%;
  height: 100%;
    p{
      position: absolute;
      left: 2%;
      top: 5%;
      text-align: left;
      background: rgba(255, 255, 255, 0.3);
    }
}

.splash-page {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.select-mood-content {
  position: absolute;
  top: 0;
  left: 55%;
  transform: translate(-50%, 0)
}

.user-selected-mood {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 20%;
  animation: option 5s ease-out forwards;
}

.cup-container {
  position: absolute;
  top: 165px;
  right: -25px;
  width: 600px;
  height: 200px;
}

.splash-page-button {
  background: none;
  border: none;
  z-index: 2;
  position: relative;
  left: -415px;
  bottom: 54px;
  animation: option 5s ease-out forwards;
}
  

option {
  text-transform: uppercase;
}

.cup {
  stroke: none;
  animation: splash 5s forwards;
}

.select-mood {
  z-index: 1;
  fill: none;
  stroke: none;
  animation: splash 5s forwards;
}

.arrow {
  position: absolute;
  right: 35%;
  top: 30%;
  animation: splash 5s forwards
}

.button-svg {
  animation: button 2s infinite;
  animation-delay: 3.5s;
}


@keyframes splash {
  0% {
      opacity: 1;
      stroke-dashoffset: -1000;
      stroke: none;
  }
  50% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      stroke: black;
  }
  100% {
      opacity: 1;
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      stroke: black;
  }
}

@keyframes option {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes button {
  0% {
    stroke-width: 1px;
  }
  50% {
    stroke-width: 4px;
  }
  100% {
    stroke-width: 1px;
  }
}