.splash-page-container {
  position: relative;
  width: 100%;
  height: 100%;
    p{
      position: absolute;
      left: 2%;
      top: 5%;
      text-align: left;
      background: rgba(255, 255, 255, 0.3);
    }
}

.splash-page {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.select-mood-content {
  position: absolute;
  top: 0;
  left: 55%;
  transform: translate(-50%, 0)
}

.user-selected-mood {
  position: absolute;
  top: 50%;
  left: 20%;
}

.cup-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 600px;
  height: 200px;
    button {
      background: none;
      border: none;
      z-index: 2;
      position: absolute;
      left: 95px;
      bottom: 50px; 
    }
}

option {
  text-transform: uppercase;
}

.cup {
  stroke: none;
  animation: splash 5s forwards;
}

.select-mood {
  fill: none;
  stroke: none;
  animation: splash 5s forwards;
}


@keyframes splash {
  0% {
      opacity: 1;
      stroke-dashoffset: -1000;
      stroke: none;
  }
  50% {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      stroke: black;
  }
  100% {
      opacity: 1;
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;
      stroke: black;
  }
}