.tea-card,
.full-tea-info {
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/card-background.jpg");
    list-style-type: none;
    border-radius: 15px;
    box-shadow: 2px 2px 10px $border;
}

.tea-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-family: $subheading-font;
    font-weight: 800;
    font-size: 22px;
    overflow: hidden;
}

.full-tea-info {
    height: 330px;
}

.tea-name {

}

.tea-image {
    max-width: 100px;
    max-height: 100px;
}