.tea-list {
    border: 2px solid black;
    width: 80%;
    display: inline-block;
    margin: 10px;
    height: 330px;
    overflow: scroll;
}

ul {
  padding-left: 0px;
}

.selected-descriptor {
  color: blue;
}