li {
    background-image: url("./images/card-background.jpg");
    border-radius: 10px;
    height: 50px;
    margin: 10px;
    background-size: cover;
    list-style-type: none;
}

.full-tea-info {
height: 330px;
background-size: cover;
}

.tea-name {
    float: right;
}